In [1]:
import pandas as pd

In [2]:
%pwd

'C:\\Users\\Abhishek Baranwal\\Documents\\Business analytics using python'

In [3]:
%cd C:\Users\Abhishek Baranwal\Documents\Business analytics using python

C:\Users\Abhishek Baranwal\Documents\Business analytics using python

In [4]:
df=pd.read_csv('ipums_la_99-small (1).csv',sep=",")

In [5]:
df.head()

,year,gq,gqtypeg,farm,ownershg,value,rent,ftotinc,nfams,ncouples,...,incfarm,incss,incwelfr,incother,poverty,migrat5g,migplac5,movedin,vetstat,tranwork
0,99,HH_in_1970_definition_but_sampled_as_larger_unit,NA_(household),Non-Farm,Rented,999999,412,23000,2,0,...,999999,99999,99999,99999,116,Same_house,?,0,?,?
1,99,HH_in_1970_definition_but_sampled_as_larger_unit,NA_(household),Non-Farm,Owned_or_being_bought_(loan),162500,0,38008,2,0,...,0,0,0,0,501,Moved_place_not_reported,Michigan,2,No_Service,Auto_truck_or_van
2,99,HH_in_1970_definition_but_sampled_as_larger_unit,NA_(household),Non-Farm,Rented,999999,675,0,1,0,...,999999,99999,99999,99999,1,Moved_place_not_reported,California,0,?,?
3,99,HH_in_1970_definition_but_sampled_as_larger_unit,NA_(household),Non-Farm,Rented,999999,725,23008,2,1,...,999999,99999,99999,99999,155,?,?,0,?,?
4,99,HH_in_1970_definition_but_sampled_as_larger_unit,NA_(household),Non-Farm,Owned_or_being_bought_(loan),400000,0,104000,1,1,...,999999,99999,99999,99999,501,Same_house,?,0,?,?

In [6]:
df.shape

(8844, 61)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8844 entries, 0 to 8843
Data columns (total 61 columns):
year        8844 non-null int64
gq          8844 non-null object
gqtypeg     8844 non-null object
farm        8844 non-null object
ownershg    8844 non-null object
value       8844 non-null int64
rent        8844 non-null int64
ftotinc     8844 non-null int64
nfams       8844 non-null int64
ncouples    8844 non-null int64
nmothers    8844 non-null int64
nfathers    8844 non-null int64
momloc      8844 non-null int64
stepmom     8844 non-null int64
momrule     8844 non-null int64
poploc      8844 non-null int64
steppop     8844 non-null int64
poprule     8844 non-null int64
sploc       8844 non-null int64
sprule      8844 non-null int64
famsize     8844 non-null int64
nchild      8844 non-null int64
nchlt5      8844 non-null int64
famunit     8844 non-null int64
eldch       8844 non-null int64
yngch       8844 non-null int64
nsibs       8844 non-null int64
relateg     8844 non-null object
age         8844 non-null int64
sex         8844 non-null object
raceg       8844 non-null object
marst       8844 non-null object
chborn      8844 non-null object
bplg        8844 non-null object
school      8844 non-null object
educrec     8844 non-null object
schltype    8844 non-null object
empstatg    8844 non-null object
labforce    8844 non-null object
occ1950     8844 non-null object
occscore    8844 non-null int64
sei         8844 non-null int64
ind1950     8844 non-null object
classwkg    8844 non-null object
wkswork2    8844 non-null object
hrswork2    8844 non-null object
yrlastwk    8844 non-null object
workedyr    8844 non-null object
inctot      8844 non-null int64
incwage     8844 non-null int64
incbus      8844 non-null int64
incfarm     8844 non-null int64
incss       8844 non-null int64
incwelfr    8844 non-null int64
incother    8844 non-null int64
poverty     8844 non-null int64
migrat5g    8844 non-null object
migplac5    8844 non-null object
movedin     8844 non-null int64
vetstat     8844 non-null object
tranwork    8844 non-null object
dtypes: int64(35), object(26)
memory usage: 4.1+ MB

In [8]:
df['chborn'].value_counts()

?                     5421
No_children           1195
2__children            748
1_child                542
3                      437
4                      224
5                      129
6                       64
7                       26
8                       20
10_children             12
9                       12
11                       9
12_(12+_1960-1990)       5
Name: chborn, dtype: int64

In [9]:
df['chborn']=df['chborn'].str.replace('?','') #Replace ? with blanks

In [10]:
import numpy as np
df['chborn']=df['chborn'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [11]:
df['chborn'].value_counts()

No_children           1195
2__children            748
1_child                542
3                      437
4                      224
5                      129
6                       64
7                       26
8                       20
10_children             12
9                       12
11                       9
12_(12+_1960-1990)       5
Name: chborn, dtype: int64

In [12]:
df.isnull().sum() # In chborn 5421 Missing Values are there

year           0
gq             0
gqtypeg        0
farm           0
ownershg       0
value          0
rent           0
ftotinc        0
nfams          0
ncouples       0
nmothers       0
nfathers       0
momloc         0
stepmom        0
momrule        0
poploc         0
steppop        0
poprule        0
sploc          0
sprule         0
famsize        0
nchild         0
nchlt5         0
famunit        0
eldch          0
yngch          0
nsibs          0
relateg        0
age            0
sex            0
            ...
marst          0
chborn      5421
bplg           0
school         0
educrec        0
schltype       0
empstatg       0
labforce       0
occ1950        0
occscore       0
sei            0
ind1950        0
classwkg       0
wkswork2       0
hrswork2       0
yrlastwk       0
workedyr       0
inctot         0
incwage        0
incbus         0
incfarm        0
incss          0
incwelfr       0
incother       0
poverty        0
migrat5g       0
migplac5       0
movedin        0
vetstat        0
tranwork       0
Length: 61, dtype: int64

In [13]:
df['chborn']=df['chborn'].fillna('8')

In [14]:
df['chborn'].value_counts()

8                     5441
No_children           1195
2__children            748
1_child                542
3                      437
4                      224
5                      129
6                       64
7                       26
10_children             12
9                       12
11                       9
12_(12+_1960-1990)       5
Name: chborn, dtype: int64

In [15]:
df['school'].value_counts()

No_not_in_school    5864
Yes_in_school       2552
?                    428
Name: school, dtype: int64

In [16]:
df['school']=df['school'].str.replace('?','') #Replace ? with blanks

In [17]:
df['school']=df['school'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [18]:
df['school'].value_counts()

No_not_in_school    5864
Yes_in_school       2552
Name: school, dtype: int64

In [19]:
df.isnull().sum() # In chborn 5421 Missing Values are there

year          0
gq            0
gqtypeg       0
farm          0
ownershg      0
value         0
rent          0
ftotinc       0
nfams         0
ncouples      0
nmothers      0
nfathers      0
momloc        0
stepmom       0
momrule       0
poploc        0
steppop       0
poprule       0
sploc         0
sprule        0
famsize       0
nchild        0
nchlt5        0
famunit       0
eldch         0
yngch         0
nsibs         0
relateg       0
age           0
sex           0
           ...
marst         0
chborn        0
bplg          0
school      428
educrec       0
schltype      0
empstatg      0
labforce      0
occ1950       0
occscore      0
sei           0
ind1950       0
classwkg      0
wkswork2      0
hrswork2      0
yrlastwk      0
workedyr      0
inctot        0
incwage       0
incbus        0
incfarm       0
incss         0
incwelfr      0
incother      0
poverty       0
migrat5g      0
migplac5      0
movedin       0
vetstat       0
tranwork      0
Length: 61, dtype: int64

In [20]:
df['school']=df['school'].fillna('Yes_in_school ')

In [21]:
df['school'].value_counts()

No_not_in_school    5864
Yes_in_school       2552
Yes_in_school        428
Name: school, dtype: int64

In [22]:
df['educrec'].value_counts()

1_to_3_years_of_college    1823
Grade_12                   1798
4+_years_of_college        1265
Grade_5-8                  1085
None_or_preschool           759
Grade_1-4                   706
?                           428
Grade_11                    342
Grade_9                     328
Grade_10                    310
Name: educrec, dtype: int64

In [23]:
df['educrec']=df['educrec'].str.replace('?','') #Replace ? with blanks

In [24]:
df['educrec']=df['educrec'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [25]:
df['educrec'].value_counts()

1_to_3_years_of_college    1823
Grade_12                   1798
4+_years_of_college        1265
Grade_5-8                  1085
None_or_preschool           759
Grade_1-4                   706
Grade_11                    342
Grade_9                     328
Grade_10                    310
Name: educrec, dtype: int64

In [26]:
df.isnull().sum() # In chborn 428 Missing Values are there

year          0
gq            0
gqtypeg       0
farm          0
ownershg      0
value         0
rent          0
ftotinc       0
nfams         0
ncouples      0
nmothers      0
nfathers      0
momloc        0
stepmom       0
momrule       0
poploc        0
steppop       0
poprule       0
sploc         0
sprule        0
famsize       0
nchild        0
nchlt5        0
famunit       0
eldch         0
yngch         0
nsibs         0
relateg       0
age           0
sex           0
           ...
marst         0
chborn        0
bplg          0
school        0
educrec     428
schltype      0
empstatg      0
labforce      0
occ1950       0
occscore      0
sei           0
ind1950       0
classwkg      0
wkswork2      0
hrswork2      0
yrlastwk      0
workedyr      0
inctot        0
incwage       0
incbus        0
incfarm       0
incss         0
incwelfr      0
incother      0
poverty       0
migrat5g      0
migplac5      0
movedin       0
vetstat       0
tranwork      0
Length: 61, dtype: int64

In [27]:
df['educrec']=df['educrec'].fillna('Grade_9')

In [28]:
df['educrec'].value_counts()

1_to_3_years_of_college    1823
Grade_12                   1798
4+_years_of_college        1265
Grade_5-8                  1085
None_or_preschool           759
Grade_9                     756
Grade_1-4                   706
Grade_11                    342
Grade_10                    310
Name: educrec, dtype: int64

In [29]:
df['schltype'].value_counts()

Not_enrolled                 5864
Public_school                2119
Private_school_(19601990)     433
?                             428
Name: schltype, dtype: int64

In [30]:
df['schltype']=df['schltype'].str.replace('?','') #Replace ? with blanks

In [31]:
df['schltype']=df['schltype'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [32]:
df['schltype'].value_counts()

Not_enrolled                 5864
Public_school                2119
Private_school_(19601990)     433
Name: schltype, dtype: int64

In [33]:
df.isnull().sum() # In chborn 428 Missing Values are there

year          0
gq            0
gqtypeg       0
farm          0
ownershg      0
value         0
rent          0
ftotinc       0
nfams         0
ncouples      0
nmothers      0
nfathers      0
momloc        0
stepmom       0
momrule       0
poploc        0
steppop       0
poprule       0
sploc         0
sprule        0
famsize       0
nchild        0
nchlt5        0
famunit       0
eldch         0
yngch         0
nsibs         0
relateg       0
age           0
sex           0
           ...
marst         0
chborn        0
bplg          0
school        0
educrec       0
schltype    428
empstatg      0
labforce      0
occ1950       0
occscore      0
sei           0
ind1950       0
classwkg      0
wkswork2      0
hrswork2      0
yrlastwk      0
workedyr      0
inctot        0
incwage       0
incbus        0
incfarm       0
incss         0
incwelfr      0
incother      0
poverty       0
migrat5g      0
migplac5      0
movedin       0
vetstat       0
tranwork      0
Length: 61, dtype: int64

In [34]:
df['schltype']=df['schltype'].fillna('Public_school')

In [35]:
df['schltype'].value_counts()

Not_enrolled                 5864
Public_school                2547
Private_school_(19601990)     433
Name: schltype, dtype: int64

In [36]:
df['empstatg'].value_counts()

Employed              4160
Not_in_labor_force    2280
?                     2110
Unemployed             294
Name: empstatg, dtype: int64

In [37]:
df['empstatg']=df['empstatg'].str.replace('?','') #Replace ? with blanks

In [38]:
df['empstatg']=df['empstatg'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [39]:
df['empstatg'].value_counts()

Employed              4160
Not_in_labor_force    2280
Unemployed             294
Name: empstatg, dtype: int64

In [40]:
df.isnull().sum() # In chborn 2110 Missing Values are there

year           0
gq             0
gqtypeg        0
farm           0
ownershg       0
value          0
rent           0
ftotinc        0
nfams          0
ncouples       0
nmothers       0
nfathers       0
momloc         0
stepmom        0
momrule        0
poploc         0
steppop        0
poprule        0
sploc          0
sprule         0
famsize        0
nchild         0
nchlt5         0
famunit        0
eldch          0
yngch          0
nsibs          0
relateg        0
age            0
sex            0
            ...
marst          0
chborn         0
bplg           0
school         0
educrec        0
schltype       0
empstatg    2110
labforce       0
occ1950        0
occscore       0
sei            0
ind1950        0
classwkg       0
wkswork2       0
hrswork2       0
yrlastwk       0
workedyr       0
inctot         0
incwage        0
incbus         0
incfarm        0
incss          0
incwelfr       0
incother       0
poverty        0
migrat5g       0
migplac5       0
movedin        0
vetstat        0
tranwork       0
Length: 61, dtype: int64

In [41]:
df['empstatg']=df['empstatg'].fillna('Employed')

In [42]:
df['empstatg'].value_counts()

Employed              6270
Not_in_labor_force    2280
Unemployed             294
Name: empstatg, dtype: int64

In [43]:
df['labforce'].value_counts()

Yes_in_labor_force       4454
No_not_in_labor_force    2280
?                        2110
Name: labforce, dtype: int64

In [44]:
df['labforce']=df['labforce'].str.replace('?','') #Replace ? with blanks

In [45]:
df['labforce']=df['labforce'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [46]:
df['labforce'].value_counts()

Yes_in_labor_force       4454
No_not_in_labor_force    2280
Name: labforce, dtype: int64

In [47]:
df.isnull().sum() # In chborn 2110 Missing Values are there

year           0
gq             0
gqtypeg        0
farm           0
ownershg       0
value          0
rent           0
ftotinc        0
nfams          0
ncouples       0
nmothers       0
nfathers       0
momloc         0
stepmom        0
momrule        0
poploc         0
steppop        0
poprule        0
sploc          0
sprule         0
famsize        0
nchild         0
nchlt5         0
famunit        0
eldch          0
yngch          0
nsibs          0
relateg        0
age            0
sex            0
            ...
marst          0
chborn         0
bplg           0
school         0
educrec        0
schltype       0
empstatg       0
labforce    2110
occ1950        0
occscore       0
sei            0
ind1950        0
classwkg       0
wkswork2       0
hrswork2       0
yrlastwk       0
workedyr       0
inctot         0
incwage        0
incbus         0
incfarm        0
incss          0
incwelfr       0
incother       0
poverty        0
migrat5g       0
migplac5       0
movedin        0
vetstat        0
tranwork       0
Length: 61, dtype: int64

In [48]:
df['labforce']=df['labforce'].fillna('Yes_in_labor_force')

In [49]:
df['labforce'].value_counts()

Yes_in_labor_force       6564
No_not_in_labor_force    2280
Name: labforce, dtype: int64

In [50]:
df['occ1950'].value_counts()

?                                                     3671
Managers_officials_and_proprietors_(nec)               541
Operative_and_kindred_workers_(nec)                    451
Clerical_and_kindred_workers_(n_e_c_)                  404
Salesmen_and_sales_clerks_(nec)                        243
Laborers_(nec)                                         205
Stenographers_typists_and_secretaries                  185
Teachers_(n_e_c_)                                      127
Cashiers                                               122
Janitors_and_sextons                                   119
Truck_and_tractor_drivers                              106
Professional_technical_99_kindred_workers_(nec)         95
Cooks_except_private_household                          82
Bookkeepers                                             81
Accountants_and_auditors                                80
Foremen_(nec)                                           75
Attendants_hospital_and_other_institution               67
Service_workers_except_private_household_(nec)          67
Nurses_professional                                     63
Office_machine_operators                                60
Attendants_professional_and_personal_service_(nec)      55
Real_estate_agents_and_brokers                          55
Mechanics_and_repairmen_(nec)                           54
Guards_watchmen_and_doorkeepers                         52
Waiters_and_waitresses                                  51
Automobile-mechanics_and_repairmen                      50
Shipping_and_receiving_clerks                           49
Musicians_and_music_teachers                            48
Lawyers_and_judges                                      48
Private_household_workers_(nec)                         47
                                                      ...
Furriers                                                 2
Glaziers                                                 2
Buyers_and_shippers_farm_products                        2
Laundressses_private_household                           1
Mechanical-Engineers                                     1
Chemical-Engineers                                       1
Locomotive_engineers                                     1
Electricians_apprentice                                  1
Farmers_(owners_and_tenants)                             1
Plumbers_and_and_pipe_fitters_apprentice                 1
Weavers_textile                                          1
Misc_social_scientists                                   1
Funeral_directors_and_embalmers                          1
Bookbinders                                              1
Watchmen_(crossing)_and_bridge_tenders                   1
Engravers_except_engravers                               1
Nonscientific_subjects-Professors                        1
Photoengravers_571_lithographers                         1
Asbestos_and_insulation_workers                          1
Office_machine-mechanics_and_repairmen                   1
Molders_metal                                            1
Farm_foremen                                             1
Motion_picture_projectionists                            1
Demonstrators                                            1
Heat_treaters_annealers_temperers                        1
Surveyors                                                1
Sports_instructors_and_officials                         1
Postmasters                                              1
Geologists_and_geophysicists                             1
Agricultural_scientists                                  1
Name: occ1950, Length: 178, dtype: int64

In [51]:
df['occ1950']=df['occ1950'].str.replace('?','') #Replace ? with blanks

In [52]:
df['occ1950']=df['occ1950'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [53]:
df['occ1950'].value_counts()

Managers_officials_and_proprietors_(nec)              541
Operative_and_kindred_workers_(nec)                   451
Clerical_and_kindred_workers_(n_e_c_)                 404
Salesmen_and_sales_clerks_(nec)                       243
Laborers_(nec)                                        205
Stenographers_typists_and_secretaries                 185
Teachers_(n_e_c_)                                     127
Cashiers                                              122
Janitors_and_sextons                                  119
Truck_and_tractor_drivers                             106
Professional_technical_99_kindred_workers_(nec)        95
Cooks_except_private_household                         82
Bookkeepers                                            81
Accountants_and_auditors                               80
Foremen_(nec)                                          75
Attendants_hospital_and_other_institution              67
Service_workers_except_private_household_(nec)         67
Nurses_professional                                    63
Office_machine_operators                               60
Real_estate_agents_and_brokers                         55
Attendants_professional_and_personal_service_(nec)     55
Mechanics_and_repairmen_(nec)                          54
Guards_watchmen_and_doorkeepers                        52
Waiters_and_waitresses                                 51
Automobile-mechanics_and_repairmen                     50
Shipping_and_receiving_clerks                          49
Musicians_and_music_teachers                           48
Lawyers_and_judges                                     48
Private_household_workers_(nec)                        47
Insurance_agents_and_brokers                           46
                                                     ...
Furriers                                                2
Glaziers                                                2
Buyers_and_shippers_farm_products                       2
Laundressses_private_household                          1
Mechanical-Engineers                                    1
Chemical-Engineers                                      1
Locomotive_engineers                                    1
Electricians_apprentice                                 1
Farmers_(owners_and_tenants)                            1
Plumbers_and_and_pipe_fitters_apprentice                1
Weavers_textile                                         1
Misc_social_scientists                                  1
Funeral_directors_and_embalmers                         1
Bookbinders                                             1
Watchmen_(crossing)_and_bridge_tenders                  1
Engravers_except_engravers                              1
Nonscientific_subjects-Professors                       1
Photoengravers_571_lithographers                        1
Asbestos_and_insulation_workers                         1
Office_machine-mechanics_and_repairmen                  1
Molders_metal                                           1
Farm_foremen                                            1
Motion_picture_projectionists                           1
Demonstrators                                           1
Heat_treaters_annealers_temperers                       1
Surveyors                                               1
Sports_instructors_and_officials                        1
Postmasters                                             1
Geologists_and_geophysicists                            1
Agricultural_scientists                                 1
Name: occ1950, Length: 177, dtype: int64

In [54]:
df.isnull().sum() # In chborn 3671 Missing Values are there

year           0
gq             0
gqtypeg        0
farm           0
ownershg       0
value          0
rent           0
ftotinc        0
nfams          0
ncouples       0
nmothers       0
nfathers       0
momloc         0
stepmom        0
momrule        0
poploc         0
steppop        0
poprule        0
sploc          0
sprule         0
famsize        0
nchild         0
nchlt5         0
famunit        0
eldch          0
yngch          0
nsibs          0
relateg        0
age            0
sex            0
            ...
marst          0
chborn         0
bplg           0
school         0
educrec        0
schltype       0
empstatg       0
labforce       0
occ1950     3671
occscore       0
sei            0
ind1950        0
classwkg       0
wkswork2       0
hrswork2       0
yrlastwk       0
workedyr       0
inctot         0
incwage        0
incbus         0
incfarm        0
incss          0
incwelfr       0
incother       0
poverty        0
migrat5g       0
migplac5       0
movedin        0
vetstat        0
tranwork       0
Length: 61, dtype: int64

In [55]:
df['occ1950']=df['occ1950'].fillna('Bookkeepers')

In [56]:
df['occ1950'].value_counts()

Bookkeepers                                           3752
Managers_officials_and_proprietors_(nec)               541
Operative_and_kindred_workers_(nec)                    451
Clerical_and_kindred_workers_(n_e_c_)                  404
Salesmen_and_sales_clerks_(nec)                        243
Laborers_(nec)                                         205
Stenographers_typists_and_secretaries                  185
Teachers_(n_e_c_)                                      127
Cashiers                                               122
Janitors_and_sextons                                   119
Truck_and_tractor_drivers                              106
Professional_technical_99_kindred_workers_(nec)         95
Cooks_except_private_household                          82
Accountants_and_auditors                                80
Foremen_(nec)                                           75
Service_workers_except_private_household_(nec)          67
Attendants_hospital_and_other_institution               67
Nurses_professional                                     63
Office_machine_operators                                60
Attendants_professional_and_personal_service_(nec)      55
Real_estate_agents_and_brokers                          55
Mechanics_and_repairmen_(nec)                           54
Guards_watchmen_and_doorkeepers                         52
Waiters_and_waitresses                                  51
Automobile-mechanics_and_repairmen                      50
Shipping_and_receiving_clerks                           49
Lawyers_and_judges                                      48
Musicians_and_music_teachers                            48
Private_household_workers_(nec)                         47
Insurance_agents_and_brokers                            46
                                                      ...
Furriers                                                 2
Glaziers                                                 2
Buyers_and_shippers_farm_products                        2
Laundressses_private_household                           1
Mechanical-Engineers                                     1
Chemical-Engineers                                       1
Locomotive_engineers                                     1
Electricians_apprentice                                  1
Farmers_(owners_and_tenants)                             1
Plumbers_and_and_pipe_fitters_apprentice                 1
Weavers_textile                                          1
Misc_social_scientists                                   1
Funeral_directors_and_embalmers                          1
Bookbinders                                              1
Watchmen_(crossing)_and_bridge_tenders                   1
Engravers_except_engravers                               1
Nonscientific_subjects-Professors                        1
Photoengravers_571_lithographers                         1
Asbestos_and_insulation_workers                          1
Office_machine-mechanics_and_repairmen                   1
Molders_metal                                            1
Farm_foremen                                             1
Motion_picture_projectionists                            1
Demonstrators                                            1
Heat_treaters_annealers_temperers                        1
Surveyors                                                1
Sports_instructors_and_officials                         1
Postmasters                                              1
Geologists_and_geophysicists                             1
Agricultural_scientists                                  1
Name: occ1950, Length: 177, dtype: int64

In [57]:
df['ind1950'].value_counts()

?                                                        3671
Educational_services                                      396
Construction                                              312
Misc_business_services                                    253
Eating_and_drinking__places                               251
Hospitals                                                 194
Medical_and_other_health_services_except_hospitals        190
Aircraft_and_parts                                        174
Banking_and_credit                                        133
Printing_publishing_and_allied_industries                 125
Food_stores_except_dairy                                  114
Apparel_and_accessories                                   114
Theaters_and_motion_pictures                              113
Real_estate                                               112
Electrical_machinery_equipment_and_supplies               110
Federal_public_administration                             104
General_merchandise                                       103
Insurance                                                 100
Legal_services                                             85
Misc_retail_stores                                         75
Welfare_and_religious_services                             73
Misc_wholesale_trade                                       72
Misc_machinery                                             68
Trucking_service                                           67
Auto_repair_services_and_garages                           65
Agriculture                                                63
Local_public_administration                                63
Misc_manufacturing_industries                              60
Misc_personal_services                                     58
Fabricated_steel_products                                  57
                                                         ...
Crude_petroleum_and_natural_gas_extraction                  4
Dairy_prods_stores_and_milk_retailing                       4
Paperboard_containers_and_boxes                             4
Pulp_paper_and_paper-board_mills                            3
Confectionary_and_related_products                          3
Petroleum_products                                          3
Metal_mining                                                3
Other_and_not_specified_utilities                           3
Grain-mill_products                                         3
Taxicab_service                                             3
Fuel_and_ice_retailing                                      3
Nonmettalic__mining_and_quarrying_except_fuel               3
Five_and_ten_cent_stores                                    3
Misc_nonmetallic_mineral_and_stone_products                 3
Railroads_and_railway                                       3
Leather_products_except_footwear                            2
Farm_prods--raw_materials                                   2
Dressmaking_shops                                           2
Photographic_equipment_and_supplies                         2
Bowling_alleys_and_billiard_and_pool_parlors                2
Logging                                                     2
Meat_products                                               2
Misc_textile_mill_products                                  1
Telegraph                                                   1
Structural_clay_products                                    1
Forestry                                                    1
Pottery_and_related_prods                                   1
Misc_petroleum_and_coal_products                            1
Agricultural_machinery_and_tractors                         1
Canning_and_preserving_fruits_vegetables_and_seafoods       1
Name: ind1950, Length: 134, dtype: int64

In [58]:
df['ind1950']=df['ind1950'].str.replace('?','') #Replace ? with blanks

In [59]:
df['ind1950']=df['ind1950'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [60]:
df['ind1950'].value_counts()

Educational_services                                     396
Construction                                             312
Misc_business_services                                   253
Eating_and_drinking__places                              251
Hospitals                                                194
Medical_and_other_health_services_except_hospitals       190
Aircraft_and_parts                                       174
Banking_and_credit                                       133
Printing_publishing_and_allied_industries                125
Food_stores_except_dairy                                 114
Apparel_and_accessories                                  114
Theaters_and_motion_pictures                             113
Real_estate                                              112
Electrical_machinery_equipment_and_supplies              110
Federal_public_administration                            104
General_merchandise                                      103
Insurance                                                100
Legal_services                                            85
Misc_retail_stores                                        75
Welfare_and_religious_services                            73
Misc_wholesale_trade                                      72
Misc_machinery                                            68
Trucking_service                                          67
Auto_repair_services_and_garages                          65
Agriculture                                               63
Local_public_administration                               63
Misc_manufacturing_industries                             60
Misc_personal_services                                    58
Fabricated_steel_products                                 57
Private_households                                        56
                                                        ...
Crude_petroleum_and_natural_gas_extraction                 4
Paperboard_containers_and_boxes                            4
Dairy_prods_stores_and_milk_retailing                      4
Other_and_not_specified_utilities                          3
Confectionary_and_related_products                         3
Pulp_paper_and_paper-board_mills                           3
Five_and_ten_cent_stores                                   3
Metal_mining                                               3
Grain-mill_products                                        3
Nonmettalic__mining_and_quarrying_except_fuel              3
Petroleum_products                                         3
Fuel_and_ice_retailing                                     3
Misc_nonmetallic_mineral_and_stone_products                3
Taxicab_service                                            3
Railroads_and_railway                                      3
Farm_prods--raw_materials                                  2
Leather_products_except_footwear                           2
Dressmaking_shops                                          2
Photographic_equipment_and_supplies                        2
Meat_products                                              2
Bowling_alleys_and_billiard_and_pool_parlors               2
Logging                                                    2
Telegraph                                                  1
Canning_and_preserving_fruits_vegetables_and_seafoods      1
Misc_petroleum_and_coal_products                           1
Misc_textile_mill_products                                 1
Agricultural_machinery_and_tractors                        1
Pottery_and_related_prods                                  1
Forestry                                                   1
Structural_clay_products                                   1
Name: ind1950, Length: 133, dtype: int64

In [61]:
df.isnull().sum() # In chborn 3671 Missing Values are there

year           0
gq             0
gqtypeg        0
farm           0
ownershg       0
value          0
rent           0
ftotinc        0
nfams          0
ncouples       0
nmothers       0
nfathers       0
momloc         0
stepmom        0
momrule        0
poploc         0
steppop        0
poprule        0
sploc          0
sprule         0
famsize        0
nchild         0
nchlt5         0
famunit        0
eldch          0
yngch          0
nsibs          0
relateg        0
age            0
sex            0
            ...
marst          0
chborn         0
bplg           0
school         0
educrec        0
schltype       0
empstatg       0
labforce       0
occ1950        0
occscore       0
sei            0
ind1950     3671
classwkg       0
wkswork2       0
hrswork2       0
yrlastwk       0
workedyr       0
inctot         0
incwage        0
incbus         0
incfarm        0
incss          0
incwelfr       0
incother       0
poverty        0
migrat5g       0
migplac5       0
movedin        0
vetstat        0
tranwork       0
Length: 61, dtype: int64

In [62]:
df['ind1950']=df['ind1950'].fillna('Construction')

In [63]:
df['ind1950'].value_counts()

Construction                                             3983
Educational_services                                      396
Misc_business_services                                    253
Eating_and_drinking__places                               251
Hospitals                                                 194
Medical_and_other_health_services_except_hospitals        190
Aircraft_and_parts                                        174
Banking_and_credit                                        133
Printing_publishing_and_allied_industries                 125
Food_stores_except_dairy                                  114
Apparel_and_accessories                                   114
Theaters_and_motion_pictures                              113
Real_estate                                               112
Electrical_machinery_equipment_and_supplies               110
Federal_public_administration                             104
General_merchandise                                       103
Insurance                                                 100
Legal_services                                             85
Misc_retail_stores                                         75
Welfare_and_religious_services                             73
Misc_wholesale_trade                                       72
Misc_machinery                                             68
Trucking_service                                           67
Auto_repair_services_and_garages                           65
Agriculture                                                63
Local_public_administration                                63
Misc_manufacturing_industries                              60
Misc_personal_services                                     58
Fabricated_steel_products                                  57
Private_households                                         56
                                                         ...
Crude_petroleum_and_natural_gas_extraction                  4
Paperboard_containers_and_boxes                             4
Dairy_prods_stores_and_milk_retailing                       4
Other_and_not_specified_utilities                           3
Confectionary_and_related_products                          3
Pulp_paper_and_paper-board_mills                            3
Five_and_ten_cent_stores                                    3
Metal_mining                                                3
Grain-mill_products                                         3
Nonmettalic__mining_and_quarrying_except_fuel               3
Petroleum_products                                          3
Fuel_and_ice_retailing                                      3
Misc_nonmetallic_mineral_and_stone_products                 3
Taxicab_service                                             3
Railroads_and_railway                                       3
Farm_prods--raw_materials                                   2
Leather_products_except_footwear                            2
Dressmaking_shops                                           2
Photographic_equipment_and_supplies                         2
Meat_products                                               2
Bowling_alleys_and_billiard_and_pool_parlors                2
Logging                                                     2
Telegraph                                                   1
Canning_and_preserving_fruits_vegetables_and_seafoods       1
Misc_petroleum_and_coal_products                            1
Misc_textile_mill_products                                  1
Agricultural_machinery_and_tractors                         1
Pottery_and_related_prods                                   1
Forestry                                                    1
Structural_clay_products                                    1
Name: ind1950, Length: 133, dtype: int64

In [64]:
df['classwkg'].value_counts()

Works_for_wages_salary    4660
?                         3671
Self-employed              513
Name: classwkg, dtype: int64

In [65]:
df['classwkg']=df['classwkg'].str.replace('?','') #Replace ? with blanks

In [66]:
df['classwkg']=df['classwkg'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [67]:
df['classwkg'].value_counts()

Works_for_wages_salary    4660
Self-employed              513
Name: classwkg, dtype: int64

In [68]:
df.isnull().sum() # In chborn 3671 Missing Values are there

year           0
gq             0
gqtypeg        0
farm           0
ownershg       0
value          0
rent           0
ftotinc        0
nfams          0
ncouples       0
nmothers       0
nfathers       0
momloc         0
stepmom        0
momrule        0
poploc         0
steppop        0
poprule        0
sploc          0
sprule         0
famsize        0
nchild         0
nchlt5         0
famunit        0
eldch          0
yngch          0
nsibs          0
relateg        0
age            0
sex            0
            ...
marst          0
chborn         0
bplg           0
school         0
educrec        0
schltype       0
empstatg       0
labforce       0
occ1950        0
occscore       0
sei            0
ind1950        0
classwkg    3671
wkswork2       0
hrswork2       0
yrlastwk       0
workedyr       0
inctot         0
incwage        0
incbus         0
incfarm        0
incss          0
incwelfr       0
incother       0
poverty        0
migrat5g       0
migplac5       0
movedin        0
vetstat        0
tranwork       0
Length: 61, dtype: int64

In [69]:
df['classwkg']=df['classwkg'].fillna('Self-employed')

In [70]:
df['classwkg'].value_counts()

Works_for_wages_salary    4660
Self-employed             4184
Name: classwkg, dtype: int64

In [71]:
df['wkswork2'].value_counts()

?              4198
50-52_weeks    2771
40-47_weeks     444
1-13_weeks      372
14-26_weeks     367
27-39_weeks     352
48-49_weeks     340
Name: wkswork2, dtype: int64

In [72]:
df['wkswork2']=df['wkswork2'].str.replace('?','') #Replace ? with blanks

In [73]:
df['wkswork2']=df['wkswork2'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [74]:
df['wkswork2'].value_counts()

50-52_weeks    2771
40-47_weeks     444
1-13_weeks      372
14-26_weeks     367
27-39_weeks     352
48-49_weeks     340
Name: wkswork2, dtype: int64

In [75]:
df.isnull().sum() # In chborn 4198 Missing Values are there

year           0
gq             0
gqtypeg        0
farm           0
ownershg       0
value          0
rent           0
ftotinc        0
nfams          0
ncouples       0
nmothers       0
nfathers       0
momloc         0
stepmom        0
momrule        0
poploc         0
steppop        0
poprule        0
sploc          0
sprule         0
famsize        0
nchild         0
nchlt5         0
famunit        0
eldch          0
yngch          0
nsibs          0
relateg        0
age            0
sex            0
            ...
marst          0
chborn         0
bplg           0
school         0
educrec        0
schltype       0
empstatg       0
labforce       0
occ1950        0
occscore       0
sei            0
ind1950        0
classwkg       0
wkswork2    4198
hrswork2       0
yrlastwk       0
workedyr       0
inctot         0
incwage        0
incbus         0
incfarm        0
incss          0
incwelfr       0
incother       0
poverty        0
migrat5g       0
migplac5       0
movedin        0
vetstat        0
tranwork       0
Length: 61, dtype: int64

In [76]:
df['wkswork2']=df['wkswork2'].fillna('50-52_weeks')

In [77]:
df['wkswork2'].value_counts()

50-52_weeks    6969
40-47_weeks     444
1-13_weeks      372
14-26_weeks     367
27-39_weeks     352
48-49_weeks     340
Name: wkswork2, dtype: int64

In [78]:
df['hrswork2'].value_counts()

?              4782
40_hours       2044
49-59_hours     418
41-48_hours     417
15-29_hours     374
60+_hours       285
30-34_hours     206
1-14_hours      169
35-39_hours     149
Name: hrswork2, dtype: int64

In [79]:
df['hrswork2']=df['hrswork2'].str.replace('?','') #Replace ? with blanks

In [80]:
df['hrswork2']=df['hrswork2'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [81]:
df['hrswork2'].value_counts()

40_hours       2044
49-59_hours     418
41-48_hours     417
15-29_hours     374
60+_hours       285
30-34_hours     206
1-14_hours      169
35-39_hours     149
Name: hrswork2, dtype: int64

In [82]:
df.isnull().sum() # In chborn 4782 Missing Values are there

year           0
gq             0
gqtypeg        0
farm           0
ownershg       0
value          0
rent           0
ftotinc        0
nfams          0
ncouples       0
nmothers       0
nfathers       0
momloc         0
stepmom        0
momrule        0
poploc         0
steppop        0
poprule        0
sploc          0
sprule         0
famsize        0
nchild         0
nchlt5         0
famunit        0
eldch          0
yngch          0
nsibs          0
relateg        0
age            0
sex            0
            ...
marst          0
chborn         0
bplg           0
school         0
educrec        0
schltype       0
empstatg       0
labforce       0
occ1950        0
occscore       0
sei            0
ind1950        0
classwkg       0
wkswork2       0
hrswork2    4782
yrlastwk       0
workedyr       0
inctot         0
incwage        0
incbus         0
incfarm        0
incss          0
incwelfr       0
incother       0
poverty        0
migrat5g       0
migplac5       0
movedin        0
vetstat        0
tranwork       0
Length: 61, dtype: int64

In [83]:
df['hrswork2']=df['hrswork2'].fillna('40_hours')

In [84]:
df['hrswork2'].value_counts()

40_hours       6826
49-59_hours     418
41-48_hours     417
15-29_hours     374
60+_hours       285
30-34_hours     206
1-14_hours      169
35-39_hours     149
Name: hrswork2, dtype: int64

In [85]:
df['yrlastwk'].value_counts()

?                              6172
Never_worked                    660
Worked_more_than_10_yrs_ago     583
Worked_previous_yr              480
Worked_6-10_yrs_ago             318
Worked_current_yr               298
Worked_3-5_yrs_ago              207
Worked_2_yrs_prior              126
Name: yrlastwk, dtype: int64

In [86]:
df['yrlastwk']=df['yrlastwk'].str.replace('?','') #Replace ? with blanks

In [87]:
df['yrlastwk']=df['yrlastwk'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [88]:
df['yrlastwk'].value_counts()

Never_worked                   660
Worked_more_than_10_yrs_ago    583
Worked_previous_yr             480
Worked_6-10_yrs_ago            318
Worked_current_yr              298
Worked_3-5_yrs_ago             207
Worked_2_yrs_prior             126
Name: yrlastwk, dtype: int64

In [89]:
df.isnull().sum() # In chborn 6172 Missing Values are there

year           0
gq             0
gqtypeg        0
farm           0
ownershg       0
value          0
rent           0
ftotinc        0
nfams          0
ncouples       0
nmothers       0
nfathers       0
momloc         0
stepmom        0
momrule        0
poploc         0
steppop        0
poprule        0
sploc          0
sprule         0
famsize        0
nchild         0
nchlt5         0
famunit        0
eldch          0
yngch          0
nsibs          0
relateg        0
age            0
sex            0
            ...
marst          0
chborn         0
bplg           0
school         0
educrec        0
schltype       0
empstatg       0
labforce       0
occ1950        0
occscore       0
sei            0
ind1950        0
classwkg       0
wkswork2       0
hrswork2       0
yrlastwk    6172
workedyr       0
inctot         0
incwage        0
incbus         0
incfarm        0
incss          0
incwelfr       0
incother       0
poverty        0
migrat5g       0
migplac5       0
movedin        0
vetstat        0
tranwork       0
Length: 61, dtype: int64

In [90]:
df['yrlastwk']=df['yrlastwk'].fillna('Worked_3-5_yrs_ago')

In [91]:
df['yrlastwk'].value_counts()

Worked_3-5_yrs_ago             6379
Never_worked                    660
Worked_more_than_10_yrs_ago     583
Worked_previous_yr              480
Worked_6-10_yrs_ago             318
Worked_current_yr               298
Worked_2_yrs_prior              126
Name: yrlastwk, dtype: int64

In [92]:
df['workedyr'].value_counts()

Yes    4646
?      2110
No     2088
Name: workedyr, dtype: int64

In [93]:
df['workedyr']=df['workedyr'].str.replace('?','') #Replace ? with blanks

In [94]:
df['workedyr']=df['workedyr'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [95]:
df['workedyr'].value_counts()

Yes    4646
No     2088
Name: workedyr, dtype: int64

In [96]:
df.isnull().sum() # In chborn 2110 Missing Values are there

year           0
gq             0
gqtypeg        0
farm           0
ownershg       0
value          0
rent           0
ftotinc        0
nfams          0
ncouples       0
nmothers       0
nfathers       0
momloc         0
stepmom        0
momrule        0
poploc         0
steppop        0
poprule        0
sploc          0
sprule         0
famsize        0
nchild         0
nchlt5         0
famunit        0
eldch          0
yngch          0
nsibs          0
relateg        0
age            0
sex            0
            ...
marst          0
chborn         0
bplg           0
school         0
educrec        0
schltype       0
empstatg       0
labforce       0
occ1950        0
occscore       0
sei            0
ind1950        0
classwkg       0
wkswork2       0
hrswork2       0
yrlastwk       0
workedyr    2110
inctot         0
incwage        0
incbus         0
incfarm        0
incss          0
incwelfr       0
incother       0
poverty        0
migrat5g       0
migplac5       0
movedin        0
vetstat        0
tranwork       0
Length: 61, dtype: int64

In [97]:
df['workedyrc']=df['workedyr'].fillna('Yes')

In [98]:
df['workedyr'].value_counts()

Yes    4646
No     2088
Name: workedyr, dtype: int64

In [99]:
df['migplac5'].value_counts()

?                       4548
California              3228
Abroad_n_s               674
Texas                     36
New_York                  32
Illinois                  21
Florida                   20
Ohio                      17
Colorado                  16
Arizona                   16
Oregon                    16
Pennsylvania              14
New_Jersey                12
Washington                12
Massachusetts             12
Utah                      12
Hawaii                    10
Oklahoma                   9
Michigan                   9
Louisiana                  9
North_Carolina             8
Nevada                     8
New_Mexico                 7
Iowa                       7
Kansas                     7
Missouri                   6
Indiana                    6
District_of_Columbia       6
Minnesota                  6
South_Carolina             5
Tennessee                  5
Idaho                      5
Mississippi                5
Georgia                    4
Puerto_Rico                4
Connecticut                4
Wisconsin                  4
Virginia                   3
South_Dakota               3
Vermont                    2
West_Virginia              2
Alabama                    2
Montana                    2
Nebraska                   2
Alaska                     2
New_Hampshire              1
Maine                      1
Rhode_Island               1
Maryland                   1
Arkansas                   1
Kentucky                   1
Name: migplac5, dtype: int64

In [100]:
df['migplac5']=df['migplac5'].str.replace('?','') #Replace ? with blanks

In [101]:
df['migplac5']=df['migplac5'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan)

In [102]:
df['migplac5'].value_counts()

California              3228
Abroad_n_s               674
Texas                     36
New_York                  32
Illinois                  21
Florida                   20
Ohio                      17
Colorado                  16
Arizona                   16
Oregon                    16
Pennsylvania              14
Massachusetts             12
Washington                12
New_Jersey                12
Utah                      12
Hawaii                    10
Michigan                   9
Oklahoma                   9
Louisiana                  9
North_Carolina             8
Nevada                     8
New_Mexico                 7
Iowa                       7
Kansas                     7
Missouri                   6
Indiana                    6
District_of_Columbia       6
Minnesota                  6
South_Carolina             5
Tennessee                  5
Idaho                      5
Mississippi                5
Georgia                    4
Puerto_Rico                4
Connecticut                4
Wisconsin                  4
Virginia                   3
South_Dakota               3
Vermont                    2
West_Virginia              2
Alabama                    2
Montana                    2
Nebraska                   2
Alaska                     2
New_Hampshire              1
Maine                      1
Rhode_Island               1
Maryland                   1
Arkansas                   1
Kentucky                   1
Name: migplac5, dtype: int64

In [103]:
df.isnull().sum() # In chborn 4548 Missing Values are there

year            0
gq              0
gqtypeg         0
farm            0
ownershg        0
value           0
rent            0
ftotinc         0
nfams           0
ncouples        0
nmothers        0
nfathers        0
momloc          0
stepmom         0
momrule         0
poploc          0
steppop         0
poprule         0
sploc           0
sprule          0
famsize         0
nchild          0
nchlt5          0
famunit         0
eldch           0
yngch           0
nsibs           0
relateg         0
age             0
sex             0
             ...
chborn          0
bplg            0
school          0
educrec         0
schltype        0
empstatg        0
labforce        0
occ1950         0
occscore        0
sei             0
ind1950         0
classwkg        0
wkswork2        0
hrswork2        0
yrlastwk        0
workedyr     2110
inctot          0
incwage         0
incbus          0
incfarm         0
incss           0
incwelfr        0
incother        0
poverty         0
migrat5g        0
migplac5     4548
movedin         0
vetstat         0
tranwork        0
workedyrc       0
Length: 62, dtype: int64

In [104]:
df['migplac5']=df['migplac5'].fillna('California')

In [105]:
df['migplac5'].value_counts()

California              7776
Abroad_n_s               674
Texas                     36
New_York                  32
Illinois                  21
Florida                   20
Ohio                      17
Colorado                  16
Arizona                   16
Oregon                    16
Pennsylvania              14
Massachusetts             12
Washington                12
New_Jersey                12
Utah                      12
Hawaii                    10
Michigan                   9
Oklahoma                   9
Louisiana                  9
North_Carolina             8
Nevada                     8
New_Mexico                 7
Iowa                       7
Kansas                     7
Missouri                   6
Indiana                    6
District_of_Columbia       6
Minnesota                  6
South_Carolina             5
Tennessee                  5
Idaho                      5
Mississippi                5
Georgia                    4
Puerto_Rico                4
Connecticut                4
Wisconsin                  4
Virginia                   3
South_Dakota               3
Vermont                    2
West_Virginia              2
Alabama                    2
Montana                    2
Nebraska                   2
Alaska                     2
New_Hampshire              1
Maine                      1
Rhode_Island               1
Maryland                   1
Arkansas                   1
Kentucky                   1
Name: migplac5, dtype: int64

In [106]:
df['vetstat'].value_counts()

No_Service    5983
?             2110
Yes            751
Name: vetstat, dtype: int64

In [107]:
df['vetstat']=df['vetstat'].str.replace('?','') #Replace ? with blanks

In [108]:
df['vetstat']=df['vetstat'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [109]:
df['vetstat'].value_counts()

No_Service    5983
Yes            751
Name: vetstat, dtype: int64

In [110]:
df.isnull().sum() # In chborn 2110 Missing Values are there

year            0
gq              0
gqtypeg         0
farm            0
ownershg        0
value           0
rent            0
ftotinc         0
nfams           0
ncouples        0
nmothers        0
nfathers        0
momloc          0
stepmom         0
momrule         0
poploc          0
steppop         0
poprule         0
sploc           0
sprule          0
famsize         0
nchild          0
nchlt5          0
famunit         0
eldch           0
yngch           0
nsibs           0
relateg         0
age             0
sex             0
             ...
chborn          0
bplg            0
school          0
educrec         0
schltype        0
empstatg        0
labforce        0
occ1950         0
occscore        0
sei             0
ind1950         0
classwkg        0
wkswork2        0
hrswork2        0
yrlastwk        0
workedyr     2110
inctot          0
incwage         0
incbus          0
incfarm         0
incss           0
incwelfr        0
incother        0
poverty         0
migrat5g        0
migplac5        0
movedin         0
vetstat      2110
tranwork        0
workedyrc       0
Length: 62, dtype: int64

In [111]:
df['vetstat']=df['vetstat'].fillna('Yes')

In [112]:
df['vetstat'].value_counts()

No_Service    5983
Yes           2861
Name: vetstat, dtype: int64

In [113]:
df['tranwork'].value_counts()

?                     4782
Auto_truck_or_van     3494
Bus_or_trolley_bus     255
Walked_only            126
Worked_at_home         103
Other                   34
Bicycle                 27
Motorcycle              17
Taxicab                  5
Subway_or_elevated       1
Name: tranwork, dtype: int64

In [114]:
df['tranwork']=df['tranwork'].str.replace('?','') #Replace ? with blanks

In [115]:
df['tranwork']=df['tranwork'].replace(r'\s+( +\.)|#',np.nan,regex=True).replace('',np.nan) #Replace blanks with NaN

In [116]:
df['tranwork'].value_counts()

Auto_truck_or_van     3494
Bus_or_trolley_bus     255
Walked_only            126
Worked_at_home         103
Other                   34
Bicycle                 27
Motorcycle              17
Taxicab                  5
Subway_or_elevated       1
Name: tranwork, dtype: int64

In [117]:
df.isnull().sum() # In chborn 4782 Missing Values are there

year            0
gq              0
gqtypeg         0
farm            0
ownershg        0
value           0
rent            0
ftotinc         0
nfams           0
ncouples        0
nmothers        0
nfathers        0
momloc          0
stepmom         0
momrule         0
poploc          0
steppop         0
poprule         0
sploc           0
sprule          0
famsize         0
nchild          0
nchlt5          0
famunit         0
eldch           0
yngch           0
nsibs           0
relateg         0
age             0
sex             0
             ...
chborn          0
bplg            0
school          0
educrec         0
schltype        0
empstatg        0
labforce        0
occ1950         0
occscore        0
sei             0
ind1950         0
classwkg        0
wkswork2        0
hrswork2        0
yrlastwk        0
workedyr     2110
inctot          0
incwage         0
incbus          0
incfarm         0
incss           0
incwelfr        0
incother        0
poverty         0
migrat5g        0
migplac5        0
movedin         0
vetstat         0
tranwork     4782
workedyrc       0
Length: 62, dtype: int64

In [118]:
df['tranwork']=df['tranwork'].fillna('Motorcycle')

In [119]:
df['tranwork'].value_counts()

Motorcycle            4799
Auto_truck_or_van     3494
Bus_or_trolley_bus     255
Walked_only            126
Worked_at_home         103
Other                   34
Bicycle                 27
Taxicab                  5
Subway_or_elevated       1
Name: tranwork, dtype: int64

In [120]:
df.isnull().sum()

year            0
gq              0
gqtypeg         0
farm            0
ownershg        0
value           0
rent            0
ftotinc         0
nfams           0
ncouples        0
nmothers        0
nfathers        0
momloc          0
stepmom         0
momrule         0
poploc          0
steppop         0
poprule         0
sploc           0
sprule          0
famsize         0
nchild          0
nchlt5          0
famunit         0
eldch           0
yngch           0
nsibs           0
relateg         0
age             0
sex             0
             ...
chborn          0
bplg            0
school          0
educrec         0
schltype        0
empstatg        0
labforce        0
occ1950         0
occscore        0
sei             0
ind1950         0
classwkg        0
wkswork2        0
hrswork2        0
yrlastwk        0
workedyr     2110
inctot          0
incwage         0
incbus          0
incfarm         0
incss           0
incwelfr        0
incother        0
poverty         0
migrat5g        0
migplac5        0
movedin         0
vetstat         0
tranwork        0
workedyrc       0
Length: 62, dtype: int64

In [121]:
df1=df

In [122]:
df1.head()

,year,gq,gqtypeg,farm,ownershg,value,rent,ftotinc,nfams,ncouples,...,incss,incwelfr,incother,poverty,migrat5g,migplac5,movedin,vetstat,tranwork,workedyrc
0,99,HH_in_1970_definition_but_sampled_as_larger_unit,NA_(household),Non-Farm,Rented,999999,412,23000,2,0,...,99999,99999,99999,116,Same_house,California,0,Yes,Motorcycle,Yes
1,99,HH_in_1970_definition_but_sampled_as_larger_unit,NA_(household),Non-Farm,Owned_or_being_bought_(loan),162500,0,38008,2,0,...,0,0,0,501,Moved_place_not_reported,Michigan,2,No_Service,Auto_truck_or_van,Yes
2,99,HH_in_1970_definition_but_sampled_as_larger_unit,NA_(household),Non-Farm,Rented,999999,675,0,1,0,...,99999,99999,99999,1,Moved_place_not_reported,California,0,Yes,Motorcycle,Yes
3,99,HH_in_1970_definition_but_sampled_as_larger_unit,NA_(household),Non-Farm,Rented,999999,725,23008,2,1,...,99999,99999,99999,155,?,California,0,Yes,Motorcycle,Yes
4,99,HH_in_1970_definition_but_sampled_as_larger_unit,NA_(household),Non-Farm,Owned_or_being_bought_(loan),400000,0,104000,1,1,...,99999,99999,99999,501,Same_house,California,0,Yes,Motorcycle,Yes

In [123]:
df1=df1.drop(['gq','gqtypeg','workedyr'],axis=1)

In [124]:
df1.head()

,year,farm,ownershg,value,rent,ftotinc,nfams,ncouples,nmothers,nfathers,...,incss,incwelfr,incother,poverty,migrat5g,migplac5,movedin,vetstat,tranwork,workedyrc
0,99,Non-Farm,Rented,999999,412,23000,2,0,1,1,...,99999,99999,99999,116,Same_house,California,0,Yes,Motorcycle,Yes
1,99,Non-Farm,Owned_or_being_bought_(loan),162500,0,38008,2,0,0,0,...,0,0,0,501,Moved_place_not_reported,Michigan,2,No_Service,Auto_truck_or_van,Yes
2,99,Non-Farm,Rented,999999,675,0,1,0,1,0,...,99999,99999,99999,1,Moved_place_not_reported,California,0,Yes,Motorcycle,Yes
3,99,Non-Farm,Rented,999999,725,23008,2,1,1,1,...,99999,99999,99999,155,?,California,0,Yes,Motorcycle,Yes
4,99,Non-Farm,Owned_or_being_bought_(loan),400000,0,104000,1,1,1,1,...,99999,99999,99999,501,Same_house,California,0,Yes,Motorcycle,Yes

# CONVERTING THE TWO CATEGORIES AS "0" AND "1

# FOR EXAMPLE:- FEMALE AS "1" AND MALE AS "0"

In [125]:
df1['sex']=[1 if x=='Female' else 0 for x in df1['sex']]
df1['sex'].value_counts()

0    4436
1    4408
Name: sex, dtype: int64

In [126]:
df1['school']=[1 if x=='Yes_in_school' else 0 for x in df1['school']]
df1['school'].value_counts()

0    6292
1    2552
Name: school, dtype: int64

In [127]:
df1['farm']=[1 if x=='Farm' else 0 for x in df1['farm']]
df1['farm'].value_counts()

0    8842
1       2
Name: farm, dtype: int64

In [128]:
df1['ownershg']=[1 if x=='Rented' else 0 for x in df1['ownershg']]
df1['ownershg'].value_counts()

1    4433
0    4411
Name: ownershg, dtype: int64

In [129]:
df1.describe()

,year,farm,ownershg,value,rent,ftotinc,nfams,ncouples,nmothers,nfathers,...,sei,inctot,incwage,incbus,incfarm,incss,incwelfr,incother,poverty,movedin
count,8844.0,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000,...,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000,8844.000000
mean,99.0,0.000226,0.501244,632582.020466,304.006445,63377.536070,1.262664,0.688716,0.756445,0.592153,...,24.913161,15284.650271,250287.967322,239798.193464,238584.092040,22991.197422,22626.159430,22532.510629,290.317616,1.283695
std,0.0,0.015037,0.500027,390008.605592,341.752657,136955.617707,0.705612,0.547220,0.640114,0.565299,...,27.900842,25377.842512,420205.510586,425644.638684,426236.530581,41452.281213,41617.810128,41662.227395,170.289175,2.276122
min,99.0,0.000000,0.000000,5000.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,-9279.000000,0.000000,-9999.000000,-750.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,99.0,0.000000,0.000000,225000.000000,0.000000,18906.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,140.000000,0.000000
50%,99.0,0.000000,1.000000,999999.000000,1.000000,36000.000000,1.000000,1.000000,1.000000,1.000000,...,15.000000,6800.000000,15898.000000,0.000000,0.000000,0.000000,0.000000,0.000000,283.000000,0.000000
75%,99.0,0.000000,1.000000,999999.000000,575.000000,60000.000000,1.000000,1.000000,1.000000,1.000000,...,47.000000,21000.000000,95000.000000,35850.000000,0.000000,7560.000000,3084.000000,304.750000,501.000000,2.000000
max,99.0,1.000000,1.000000,999999.000000,1000.000000,999999.000000,9.000000,4.000000,4.000000,4.000000,...,96.000000,313119.000000,999999.000000,999999.000000,999999.000000,99999.000000,99999.000000,99999.000000,501.000000,8.000000

In [130]:
#PASSING ALL THE NUMERICAL COLUMNS INTO A LIST
List=['year','farm','ownershg','value','rent','ftotinc','nfams','ncouples','nmothers','nfathers','momloc','stepmom','momrule','poploc',
    'steppop','poprule','sploc','sprule','famsize','nchild','nchlt5','famunit','eldch','yngch','nsibs','age','sex','school','occscore'
    'sei','incwage','inctot','incfarm','incbus','incss','incwelfr','incother','poverty']

In [131]:
#GIVING ALL THE NUMERICAL COLUMNS
df2=df1.loc[:, List]

C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [132]:
df2.head()

,year,farm,ownershg,value,rent,ftotinc,nfams,ncouples,nmothers,nfathers,...,school,occscoresei,incwage,inctot,incfarm,incbus,incss,incwelfr,incother,poverty
0,99,0,1,999999,412,23000,2,0,1,1,...,1,NaN,999999,0,999999,999999,99999,99999,99999,116
1,99,0,0,162500,0,38008,2,0,0,0,...,0,NaN,38000,38008,0,0,0,0,0,501
2,99,0,1,999999,675,0,1,0,1,0,...,1,NaN,999999,0,999999,999999,99999,99999,99999,1
3,99,0,1,999999,725,23008,2,1,1,1,...,0,NaN,999999,0,999999,999999,99999,99999,99999,155
4,99,0,0,400000,0,104000,1,1,1,1,...,1,NaN,999999,0,999999,999999,99999,99999,99999,501

# NORMALIZE THE NUMERICAL COLUMNS

In [133]:
# WE NORMALIZE THE VALUES OF ALL NUMERICAL COLUMNSINTO 0-1
import sklearn
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(df2)

C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:364: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:365: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

In [134]:
#CONVERTING INTO DATAFRAME
df1_normalized = pd.DataFrame(x_scaled,columns=['year', 'farm', 'ownershg', 'value', 'rent', 'ftotinc', 'nfams',
       'ncouples', 'nmothers', 'nfathers', 'momloc', 'stepmom', 'momrule',
       'poploc', 'steppop', 'poprule', 'sploc', 'sprule', 'famsize', 'nchild',
       'nchlt5', 'famunit', 'eldch', 'yngch', 'nsibs', 'age', 'sex', 'school',
       'occscoresei', 'incwage', 'inctot', 'incfarm', 'incbus', 'incss',
       'incwelfr', 'incother', 'poverty'])

In [135]:
df1_normalized.head() #normalized dataframe

,year,farm,ownershg,value,rent,ftotinc,nfams,ncouples,nmothers,nfathers,...,school,occscoresei,incwage,inctot,incfarm,incbus,incss,incwelfr,incother,poverty
0,0.0,0.0,1.0,1.000000,0.412,0.023000,0.125,0.00,0.25,0.25,...,1.0,NaN,1.000,0.028781,1.000000,1.0000,1.0,1.0,1.0,0.231537
1,0.0,0.0,0.0,0.158292,0.000,0.038008,0.125,0.00,0.00,0.00,...,0.0,NaN,0.038,0.146673,0.000749,0.0099,0.0,0.0,0.0,1.000000
2,0.0,0.0,1.0,1.000000,0.675,0.000000,0.000,0.00,0.25,0.00,...,1.0,NaN,1.000,0.028781,1.000000,1.0000,1.0,1.0,1.0,0.001996
3,0.0,0.0,1.0,1.000000,0.725,0.023008,0.125,0.25,0.25,0.25,...,0.0,NaN,1.000,0.028781,1.000000,1.0000,1.0,1.0,1.0,0.309381
4,0.0,0.0,0.0,0.396985,0.000,0.104000,0.000,0.25,0.25,0.25,...,1.0,NaN,1.000,0.028781,1.000000,1.0000,1.0,1.0,1.0,1.000000

In [136]:
df1_normalized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8844 entries, 0 to 8843
Data columns (total 37 columns):
year           8844 non-null float64
farm           8844 non-null float64
ownershg       8844 non-null float64
value          8844 non-null float64
rent           8844 non-null float64
ftotinc        8844 non-null float64
nfams          8844 non-null float64
ncouples       8844 non-null float64
nmothers       8844 non-null float64
nfathers       8844 non-null float64
momloc         8844 non-null float64
stepmom        8844 non-null float64
momrule        8844 non-null float64
poploc         8844 non-null float64
steppop        8844 non-null float64
poprule        8844 non-null float64
sploc          8844 non-null float64
sprule         8844 non-null float64
famsize        8844 non-null float64
nchild         8844 non-null float64
nchlt5         8844 non-null float64
famunit        8844 non-null float64
eldch          8844 non-null float64
yngch          8844 non-null float64
nsibs          8844 non-null float64
age            8844 non-null float64
sex            8844 non-null float64
school         8844 non-null float64
occscoresei    0 non-null float64
incwage        8844 non-null float64
inctot         8844 non-null float64
incfarm        8844 non-null float64
incbus         8844 non-null float64
incss          8844 non-null float64
incwelfr       8844 non-null float64
incother       8844 non-null float64
poverty        8844 non-null float64
dtypes: float64(37)
memory usage: 2.5 MB

In [137]:
# THERE IS NO VALUES IN "occscoresei" ONLY "NAN" 
df1_normalized['occscoresei'].value_counts()

Series([], Name: occscoresei, dtype: int64)

In [138]:
df1_normalized.columns

Index(['year', 'farm', 'ownershg', 'value', 'rent', 'ftotinc', 'nfams',
       'ncouples', 'nmothers', 'nfathers', 'momloc', 'stepmom', 'momrule',
       'poploc', 'steppop', 'poprule', 'sploc', 'sprule', 'famsize', 'nchild',
       'nchlt5', 'famunit', 'eldch', 'yngch', 'nsibs', 'age', 'sex', 'school',
       'occscoresei', 'incwage', 'inctot', 'incfarm', 'incbus', 'incss',
       'incwelfr', 'incother', 'poverty'],
      dtype='object')

In [139]:
#DROPPING THE COLUMN
df1_normalized=df1_normalized.drop(columns=['occscoresei'])
df1_normalized.head()

,year,farm,ownershg,value,rent,ftotinc,nfams,ncouples,nmothers,nfathers,...,sex,school,incwage,inctot,incfarm,incbus,incss,incwelfr,incother,poverty
0,0.0,0.0,1.0,1.000000,0.412,0.023000,0.125,0.00,0.25,0.25,...,1.0,1.0,1.000,0.028781,1.000000,1.0000,1.0,1.0,1.0,0.231537
1,0.0,0.0,0.0,0.158292,0.000,0.038008,0.125,0.00,0.00,0.00,...,0.0,0.0,0.038,0.146673,0.000749,0.0099,0.0,0.0,0.0,1.000000
2,0.0,0.0,1.0,1.000000,0.675,0.000000,0.000,0.00,0.25,0.00,...,1.0,1.0,1.000,0.028781,1.000000,1.0000,1.0,1.0,1.0,0.001996
3,0.0,0.0,1.0,1.000000,0.725,0.023008,0.125,0.25,0.25,0.25,...,0.0,0.0,1.000,0.028781,1.000000,1.0000,1.0,1.0,1.0,0.309381
4,0.0,0.0,0.0,0.396985,0.000,0.104000,0.000,0.25,0.25,0.25,...,0.0,1.0,1.000,0.028781,1.000000,1.0000,1.0,1.0,1.0,1.000000

In [140]:
#AFTER DROPPING THE COLUMNNAMES
df1_normalized.columns

Index(['year', 'farm', 'ownershg', 'value', 'rent', 'ftotinc', 'nfams',
       'ncouples', 'nmothers', 'nfathers', 'momloc', 'stepmom', 'momrule',
       'poploc', 'steppop', 'poprule', 'sploc', 'sprule', 'famsize', 'nchild',
       'nchlt5', 'famunit', 'eldch', 'yngch', 'nsibs', 'age', 'sex', 'school',
       'incwage', 'inctot', 'incfarm', 'incbus', 'incss', 'incwelfr',
       'incother', 'poverty'],
      dtype='object')

In [141]:
# limit to categorical data using df.select_dtypes()
# Taking all the object datatypes as categorical columns without giving names
X = df1.select_dtypes(include=[object])
X.head(3)

,relateg,raceg,marst,chborn,bplg,educrec,schltype,empstatg,labforce,occ1950,ind1950,classwkg,wkswork2,hrswork2,yrlastwk,migrat5g,migplac5,vetstat,tranwork,workedyrc
0,Child,White,Never_married_single,8,California,Grade_5-8,Public_school,Employed,Yes_in_labor_force,Bookkeepers,Construction,Self-employed,50-52_weeks,40_hours,Worked_3-5_yrs_ago,Same_house,California,Yes,Motorcycle,Yes
1,Head_Householder,White,Never_married_single,8,Michigan,4+_years_of_college,Not_enrolled,Employed,Yes_in_labor_force,Aeronautical-Engineers,Aircraft_and_parts,Works_for_wages_salary,50-52_weeks,40_hours,Worked_3-5_yrs_ago,Moved_place_not_reported,Michigan,No_Service,Auto_truck_or_van,Yes
2,Child,Black_Negro,Never_married_single,8,California,Grade_1-4,Public_school,Employed,Yes_in_labor_force,Bookkeepers,Construction,Self-employed,50-52_weeks,40_hours,Worked_3-5_yrs_ago,Moved_place_not_reported,California,Yes,Motorcycle,Yes

In [142]:
# check original shape of categorical columns
X.shape

(8844, 20)

In [143]:
# view the categorical columns using df.columns
X.columns

Index(['relateg', 'raceg', 'marst', 'chborn', 'bplg', 'educrec', 'schltype',
       'empstatg', 'labforce', 'occ1950', 'ind1950', 'classwkg', 'wkswork2',
       'hrswork2', 'yrlastwk', 'migrat5g', 'migplac5', 'vetstat', 'tranwork',
       'workedyrc'],
      dtype='object')

In [144]:
# import preprocessing from sklearn
from sklearn import preprocessing

In [145]:
#create a LabelEncoder object and fit it to each feature in X
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()
# used df.apply() to apply le.fit_transform to all columns
X_2 = X.apply(le.fit_transform)
X_2.head()

,relateg,raceg,marst,chborn,bplg,educrec,schltype,empstatg,labforce,occ1950,ind1950,classwkg,wkswork2,hrswork2,yrlastwk,migrat5g,migplac5,vetstat,tranwork,workedyrc
0,0,6,3,10,14,6,2,0,1,23,18,0,5,4,2,2,5,1,3,1
1,3,6,3,10,64,1,0,0,1,2,5,1,5,4,2,1,22,0,0,1
2,0,1,3,10,14,2,2,0,1,23,18,0,5,4,2,1,5,1,3,1
3,0,6,3,10,14,7,2,0,1,23,18,0,5,4,2,0,5,1,3,1
4,0,6,3,10,14,2,2,0,1,23,18,0,5,4,2,2,5,1,3,1

In [146]:
#checking the categorical columns
X_2.shape

(8844, 20)

In [147]:
#successfully conveted the objects into integers
X_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8844 entries, 0 to 8843
Data columns (total 20 columns):
relateg      8844 non-null int32
raceg        8844 non-null int32
marst        8844 non-null int32
chborn       8844 non-null int32
bplg         8844 non-null int32
educrec      8844 non-null int32
schltype     8844 non-null int32
empstatg     8844 non-null int32
labforce     8844 non-null int32
occ1950      8844 non-null int32
ind1950      8844 non-null int32
classwkg     8844 non-null int32
wkswork2     8844 non-null int32
hrswork2     8844 non-null int32
yrlastwk     8844 non-null int32
migrat5g     8844 non-null int32
migplac5     8844 non-null int32
vetstat      8844 non-null int32
tranwork     8844 non-null int32
workedyrc    8844 non-null int32
dtypes: int32(20)
memory usage: 691.0 KB

# onehotencoding

In [148]:
# create a OneHotEncoder object, and fit it to all of X

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(X_2)

# 3. Transform
onehotlabels = enc.transform(X_2).toarray()
onehotlabels.shape

# as you can see, you've the same number of rows 595
# but now you've so many more columns due to how we changed all the categorical data into numerical data

C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

(8844, 573)

In [149]:
# converting into dataframe
data = pd.DataFrame(onehotlabels)

In [150]:
#combining all the normalized data and the onehotcoding data 
data[['year', 'farm', 'ownershg', 'value', 'rent', 'ftotinc', 'nfams',
       'ncouples', 'nmothers', 'nfathers', 'momloc', 'stepmom', 'momrule',
       'poploc', 'steppop', 'poprule', 'sploc', 'sprule', 'famsize', 'nchild',
       'nchlt5', 'famunit', 'eldch', 'yngch', 'nsibs', 'age', 'sex', 'school',
       'incwage', 'inctot', 'incfarm', 'incbus', 'incss', 'incwelfr',
       'incother', 'poverty']]=df1_normalized

# DIFFERENT CLASSIFICATION METHODS

In [151]:
# DIVIDING THE DATA INTO INPUT AND OUTPUT
X = data  # INPUT VARAIABLES
y = df['movedin'] #TARGET VARIAABLES

In [152]:
#CONVERTING THE DATA INTO TEST AND TRAIN
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, 
                                                    random_state=1)

# LogisticRegression

In [153]:
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score 
model = LogisticRegression()

In [154]:
model.fit(X_train, y_train)

C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [155]:
y_pred = model.predict(X_test)

In [156]:
accuracy=accuracy_score(y_test,y_pred)
print(accuracy*100)

82.58903335217637

# THE ACCURACY OF THE DATA BY USING LOGISTIC REGRESSION IS 82.5%

In [157]:
from sklearn.metrics import confusion_matrix
cnf_matrix = confusion_matrix(y_test, y_pred)
cnf_matrix

array([[1179,    0,    0,    0,    0,    0,    0],
       [   0,   61,   58,    6,    3,    1,    0],
       [   0,   51,   99,   19,   11,    4,    1],
       [   0,    1,    4,   36,   31,    5,    1],
       [   0,    3,    7,   30,   62,    8,    4],
       [   0,    0,    0,    5,   23,    6,   14],
       [   0,    0,    0,    2,   12,    4,   18]], dtype=int64)

# RANDOM FOREST

In [158]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [159]:
#from sklearn.linear_model import LogisticRegression 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score 

#model = LogisticRegression()
model = RandomForestClassifier(n_estimators=100)

model.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [160]:
y_pred = model.predict(X_test)

In [161]:
#predicted_classes = model.predict(X)

In [162]:
accuracy = accuracy_score(y_test,y_pred)
print(accuracy)

1.0

# THE ACCURACY OF THE DATA BY USING RANDOM TREE IS 100%