In [1]:
import pandas as pd

In [2]:
%pwd

'C:\\Users\\Abhishek Baranwal\\Documents\\Business analytics using python'

In [3]:
df=pd.read_csv('yeast.csv',sep=",")

In [4]:
df

       mcg   gvh   alm   mit  erl  pox   vac   nuc  class
0     0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22      0
1     0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22      0
2     0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22      0
3     0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22      1
4     0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22      0
5     0.51  0.40  0.56  0.17  0.5  0.5  0.49  0.22      2
6     0.50  0.54  0.48  0.65  0.5  0.0  0.53  0.22      0
7     0.48  0.45  0.59  0.20  0.5  0.0  0.58  0.34      1
8     0.55  0.50  0.66  0.36  0.5  0.0  0.49  0.22      0
9     0.40  0.39  0.60  0.15  0.5  0.0  0.58  0.30      2
10    0.43  0.39  0.54  0.21  0.5  0.0  0.53  0.27      1
11    0.42  0.37  0.59  0.20  0.5  0.0  0.52  0.29      1
12    0.40  0.42  0.57  0.35  0.5  0.0  0.53  0.25      2
13    0.60  0.40  0.52  0.46  0.5  0.0  0.53  0.22      0
14    0.66  0.55  0.45  0.19  0.5  0.0  0.46  0.22      0
15    0.46  0.44  0.52  0.11  0.5  0.0  0.50  0.22      2
16    0.47  0.39  0.50  0.11  0.5  0.0  0.49  0.40      2
17    0.58  0.47  0.54  0.11  0.5  0.0  0.51  0.26      1
18    0.50  0.34  0.55  0.21  0.5  0.0  0.49  0.22      1
19    0.61  0.60  0.55  0.21  0.5  0.0  0.50  0.25      1
20    0.45  0.40  0.50  0.16  0.5  0.0  0.50  0.22      2
21    0.43  0.44  0.48  0.22  0.5  0.0  0.51  0.22      2
22    0.73  0.63  0.42  0.30  0.5  0.0  0.49  0.22      2
23    0.43  0.53  0.52  0.13  0.5  0.0  0.55  0.22      2
24    0.46  0.53  0.52  0.15  0.5  0.0  0.58  0.22      2
25    0.51  0.51  0.52  0.51  0.5  0.0  0.54  0.22      0
26    0.59  0.45  0.53  0.19  0.5  0.0  0.59  0.27      2
27    0.57  0.47  0.60  0.18  0.5  0.0  0.51  0.22      2
28    0.63  0.67  0.57  0.24  0.5  0.0  0.49  0.22      0
29    0.80  0.88  0.36  0.39  0.5  0.0  0.56  0.33      3
...    ...   ...   ...   ...  ...  ...   ...   ...    ...
1449  0.57  0.59  0.49  0.86  0.5  0.0  0.47  0.22      1
1450  0.38  0.40  0.39  0.19  0.5  0.0  0.46  0.62      1
1451  0.77  0.74  0.37  0.29  0.5  0.0  0.45  0.22      3
1452  0.47  0.38  0.58  0.19  0.5  0.0  0.57  0.22      2
1453  0.50  0.61  0.44  0.20  0.5  0.0  0.49  0.22      0
1454  0.41  0.45  0.46  0.23  0.5  0.0  0.50  0.70      2
1455  0.46  0.62  0.46  0.54  0.5  0.0  0.51  0.27      0
1456  0.74  0.75  0.45  0.44  0.5  0.0  0.52  0.22      8
1457  0.52  0.53  0.58  0.69  0.5  0.0  0.50  0.22      0
1458  0.41  0.47  0.50  0.14  0.5  0.0  0.53  0.37      1
1459  0.25  0.40  0.52  0.15  0.5  0.0  0.56  0.28      1
1460  0.58  0.56  0.38  0.39  0.5  0.0  0.54  0.57      1
1461  0.32  0.29  0.29  0.08  0.5  0.0  0.52  0.22      6
1462  0.38  0.48  0.57  0.30  0.5  0.0  0.41  0.11      2
1463  0.39  0.58  0.47  0.18  0.5  0.0  0.48  0.22      0
1464  0.38  0.47  0.47  0.18  0.5  0.0  0.44  0.26      0
1465  0.63  0.57  0.50  0.48  0.5  0.0  0.51  0.22      0
1466  0.51  0.45  0.62  0.25  0.5  0.0  0.59  0.22      0
1467  0.59  0.67  0.54  0.19  0.5  0.0  0.48  0.60      1
1468  0.60  0.61  0.54  0.11  0.5  0.0  0.46  0.22      2
1469  0.48  0.61  0.57  0.17  0.5  0.0  0.45  0.22      2
1470  0.71  0.50  0.50  0.18  0.5  0.0  0.46  0.22      2
1471  0.61  0.48  0.54  0.25  0.5  0.0  0.50  0.22      2
1472  0.38  0.32  0.64  0.41  0.5  0.0  0.44  0.11      2
1473  0.38  0.40  0.66  0.35  0.5  0.0  0.43  0.11      2
1474  0.81  0.62  0.43  0.17  0.5  0.0  0.53  0.22      5
1475  0.47  0.43  0.61  0.40  0.5  0.0  0.48  0.47      1
1476  0.67  0.57  0.36  0.19  0.5  0.0  0.56  0.22      5
1477  0.43  0.40  0.60  0.16  0.5  0.0  0.53  0.39      1
1478  0.65  0.54  0.54  0.13  0.5  0.0  0.53  0.22      2

[1479 rows x 9 columns]

In [5]:
df.head()

    mcg   gvh   alm   mit  erl  pox   vac   nuc  class
0  0.58  0.61  0.47  0.13  0.5  0.0  0.48  0.22      0
1  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22      0
2  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22      0
3  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22      1
4  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22      0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1479 entries, 0 to 1478
Data columns (total 9 columns):
mcg      1479 non-null float64
gvh      1479 non-null float64
alm      1479 non-null float64
mit      1479 non-null float64
erl      1479 non-null float64
pox      1479 non-null float64
vac      1479 non-null float64
nuc      1479 non-null float64
class    1479 non-null int64
dtypes: float64(8), int64(1)
memory usage: 104.1 KB

# In the dataset 'yeast' all the columns are numeric except the class which is categorial

In [7]:
df[['mcg','gvh','alm','mit','erl','pox','vac','nuc']].describe()

,mcg,gvh,alm,mit,erl,pox,vac,nuc
count,1479.000000,1479.000000,1479.000000,1479.000000,1479.000000,1479.000000,1479.000000,1479.000000
mean,0.499135,0.499013,0.500095,0.260933,0.503043,0.007525,0.499730,0.276302
std,0.136434,0.122916,0.086678,0.137216,0.038898,0.075809,0.057822,0.106632
min,0.110000,0.130000,0.210000,0.000000,0.500000,0.000000,0.000000,0.000000
25%,0.410000,0.420000,0.460000,0.170000,0.500000,0.000000,0.480000,0.220000
50%,0.480000,0.490000,0.510000,0.220000,0.500000,0.000000,0.510000,0.220000
75%,0.570000,0.570000,0.550000,0.320000,0.500000,0.000000,0.530000,0.300000
max,1.000000,1.000000,1.000000,1.000000,1.000000,0.830000,0.730000,1.000000

# extracting the numerical columns so as to normalize it between 0 and 1

In [8]:
df1=df[['mcg','gvh','alm','mit','erl','pox','vac','nuc']]

In [9]:
import sklearn

In [10]:
from sklearn import preprocessing

In [11]:
df1.columns

Index(['mcg', 'gvh', 'alm', 'mit', 'erl', 'pox', 'vac', 'nuc'], dtype='object')

In [12]:
x=df1.values

In [13]:
x

array([[0.58, 0.61, 0.47, ..., 0.  , 0.48, 0.22],
       [0.43, 0.67, 0.48, ..., 0.  , 0.53, 0.22],
       [0.64, 0.62, 0.49, ..., 0.  , 0.53, 0.22],
       ...,
       [0.67, 0.57, 0.36, ..., 0.  , 0.56, 0.22],
       [0.43, 0.4 , 0.6 , ..., 0.  , 0.53, 0.39],
       [0.65, 0.54, 0.54, ..., 0.  , 0.53, 0.22]])

In [14]:
min_max_scaler=preprocessing.MinMaxScaler()

In [15]:
x_scaled=min_max_scaler.fit_transform(x)

In [16]:
df1_normalized=pd.DataFrame(x_scaled)

In [17]:
df1_normalized.head() #normalized dataframe

          0         1         2     3    4    5         6     7
0  0.528090  0.551724  0.329114  0.13  0.0  0.0  0.657534  0.22
1  0.359551  0.620690  0.341772  0.27  0.0  0.0  0.726027  0.22
2  0.595506  0.563218  0.354430  0.15  0.0  0.0  0.726027  0.22
3  0.528090  0.356322  0.455696  0.13  0.0  0.0  0.739726  0.22
4  0.348315  0.356322  0.341772  0.54  0.0  0.0  0.657534  0.22

In [18]:
df1_normalized['class']=df['class']

In [19]:
df1_normalized.head()

          0         1         2     3    4    5         6     7  class
0  0.528090  0.551724  0.329114  0.13  0.0  0.0  0.657534  0.22      0
1  0.359551  0.620690  0.341772  0.27  0.0  0.0  0.726027  0.22      0
2  0.595506  0.563218  0.354430  0.15  0.0  0.0  0.726027  0.22      0
3  0.528090  0.356322  0.455696  0.13  0.0  0.0  0.739726  0.22      1
4  0.348315  0.356322  0.341772  0.54  0.0  0.0  0.657534  0.22      0

In [20]:
df2=df1_normalized

# One hot encoding on the categorial variable which is 'class'

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
onehotencoder = OneHotEncoder(categorical_features= [8])

In [23]:
df2=onehotencoder.fit_transform(df2).toarray()

C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [24]:
df2=pd.DataFrame(df2) #one hot encoded dataframe

In [25]:
df2.sample(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
1017,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.438202,0.425287,0.518987,0.23,0.0,0.0,0.479452,0.11
1367,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.382022,0.298851,0.316456,0.29,0.0,0.0,0.575342,0.22
992,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.617978,0.540230,0.392405,0.19,0.0,0.0,0.945205,0.22
1176,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.303371,0.333333,0.329114,0.12,0.0,0.0,0.643836,0.53
1204,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.719101,0.724138,0.468354,0.22,0.0,0.0,0.671233,0.22

# Performing logistic regression

# Process the dataset

In [26]:
df['class'].value_counts(normalize=1)*100

2    31.304936
1    29.006085
0    16.497634
6    11.020960
5     3.448276
3     2.974983
4     2.366464
7     2.028398
8     1.352265
Name: class, dtype: float64

In [27]:
from sklearn.model_selection import train_test_split

In [144]:
# create training and testing vars
x_train, x_test, y_train, y_test=train_test_split(df[['mcg', 'gvh', 'alm', 'mit', 'erl', 'pox', 'vac', 'nuc']],df['class'], test_size=0.03,random_state=2182,stratify=df['class'])

In [145]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(1434, 8) (1434,)
(45, 8) (45,)

# Using logistic regression

In [146]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [147]:
model=LogisticRegression()

In [148]:
model.fit(x_train,y_train)

C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [149]:
predicted_class=model.predict(x_test)

In [150]:
accuracy=accuracy_score(y_test,predicted_class)

In [151]:
accuracy

0.6888888888888889

In [152]:
from sklearn.metrics import classification_report

In [153]:
print(classification_report(y_test,predicted_class))

              precision    recall  f1-score   support

           0       0.83      0.71      0.77         7
           1       0.69      0.85      0.76        13
           2       0.62      0.71      0.67        14
           3       0.50      1.00      0.67         1
           4       0.00      0.00      0.00         1
           5       0.00      0.00      0.00         2
           6       0.80      0.80      0.80         5
           7       0.00      0.00      0.00         1
           8       0.00      0.00      0.00         1

   micro avg       0.69      0.69      0.69        45
   macro avg       0.38      0.45      0.41        45
weighted avg       0.62      0.69      0.65        45

C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [155]:
from sklearn.metrics import confusion_matrix

In [156]:
cm=confusion_matrix(y_test, predicted_class)

In [157]:
cm

array([[ 5,  0,  1,  0,  0,  0,  1,  0,  0],
       [ 1, 11,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  4, 10,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  1,  0,  0,  0,  0,  0],
       [ 0,  1,  0,  0,  0,  0,  4,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0,  0]], dtype=int64)

# Using neural network

In [169]:
from sklearn.neural_network import MLPClassifier

In [178]:
nnmodel=MLPClassifier(hidden_layer_sizes=(30,40))

In [179]:
nnmodel.fit(x_train,y_train)

C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:562: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(30, 40), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [180]:
nnpredicted_class=nnmodel.predict(x_test)

In [181]:
accuracy_score(y_test,nnpredicted_class)

0.6666666666666666

In [182]:
print(classification_report(y_test,nnpredicted_class))

              precision    recall  f1-score   support

           0       0.83      0.71      0.77         7
           1       0.65      0.85      0.73        13
           2       0.57      0.57      0.57        14
           3       0.50      1.00      0.67         1
           4       0.00      0.00      0.00         1
           5       0.00      0.00      0.00         2
           6       0.83      1.00      0.91         5
           7       0.00      0.00      0.00         1
           8       0.00      0.00      0.00         1

   micro avg       0.67      0.67      0.67        45
   macro avg       0.38      0.46      0.41        45
weighted avg       0.60      0.67      0.63        45

C:\Users\Abhishek Baranwal\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [183]:
nn_cm=confusion_matrix(y_test, nnpredicted_class)

In [184]:
nn_cm

array([[ 5,  0,  1,  0,  0,  0,  1,  0,  0],
       [ 1, 11,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  6,  8,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  1,  0,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  5,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0,  0],
       [ 0,  0,  1,  0,  0,  0,  0,  0,  0]], dtype=int64)